<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>
<h2>
    Добрый день, <span th:if="${fullName}" th:text="${fullName}">анон</span>!
</h2>
<br>
<ul>
    <li><a th:href="@{/main/tasks}">Мои задачи</a></li>
    <li>Создать новую задачу</li>
    <li>Взять/убрать задачу</li>
    <li><a th:href="@{/auth/logout}">Выйти</a></li>
</ul>
<br>
<table th:if="${not #lists.isEmpty(tasks)}" border="1">
    <caption>Список задач:</caption>
    <tr>
        <th>Номер</th>
        <th>Название</th>
        <th>Статус</th>
        <th></th>
    </tr>
    <tr th:each="task : ${tasks}">
        <td th:text="${task.uniqNumber}">Номер задачи</td>
        <td th:text="${task.title}">Номер задачи</td>
        <td th:text="${task.state}">Статус</td>
        <td>
            <form method="post" th:action="@{/main/tasks-list/remove/{taskId}(taskId=${task.id})}">
                <input type="submit" value="Убрать">
            </form>
        </td>
    </tr>
</table>
</body>
</html>